html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#sidebar {
  position: absolute;
  width: 260px;
  height: 100%;

}

#sidebar-inner {
  padding: 15px;
}







#container {
  position: absolute;
  left: 260px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}
